<div class="login">
  <app-login-header></app-login-header>
  <div class="login__content">
    <form class="form"
          [formGroup]="form"
          (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-icon class="prefixed_icon"
                  matPrefix>alternate_email</mat-icon>
        <mat-label> Email </mat-label>
        <input id="login__email"
               formControlName="email"
               matInput
               placeholder="i.e. example@example.com" />
        <mat-error *ngIf="isInvalid('email')">{{
          getErrorMessage('email')
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-icon class="prefixed_icon"
                  matPrefix>lock_outline</mat-icon>
        <mat-label><span>Password</span></mat-label>
        <input id="login__password"
               formControlName="password"
               matInput
               placeholder="i.e. example@!%$5475347"
               [type]="hide ? 'password' : 'text'" />
        <button type="button"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="isInvalid('password')">{{
          getErrorMessage(('password'))
        }}</mat-error>
      </mat-form-field>
      <app-submit-button [inProgress]="inProgress"></app-submit-button>
    </form>
  </div>
</div>