// const colors = ['#00AA55', '#009FD4', '#B381B3', '#939393', '#E3BC00', '#D47500', '#DC2A2A'];

.card {
  display: flex;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  border-bottom: 0.15rem solid black;
  // border-left: #008013 solid 0.26rem;
  outline: none;

  &:hover {
    background: rgba(white, 0.1);
  }

  cursor: pointer;
  .first-col {
    .avatar {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #58a564;
      min-height: 2rem;
      min-width: 2rem;
      padding: 0.45rem;
      border-radius: 100%;
      margin-right: 0.6rem;
      font-size: 0.8rem;
      letter-spacing: 0.03rem;
      text-transform: uppercase;
    }
  }
  .second-col {
    .title,
    .name {
      font-weight: 500;
    }
    .title {
      color: #85afe0;
    }

    max-width: 14.4rem;
    > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    font-weight: 300;
  }
  .third-col {
    font-size: 0.7rem;
    padding-left: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.6rem;
    > * {
      text-align: center;
    }

    .time {
    }
    .date {
      color: white;
    }
  }
  &.active {
    background-color: rgba($color: #fff, $alpha: 0.09);
     .first-col,
    .second-col,
    .third-col {
      font-weight: 500;
      .title {
        color: white;
      }
    }
  }
}
