<div
  matRipple
  [matRippleDisabled]="isActive(projReq.id)"
  *ngIf="projReq"
  [routerLink]="projReq.id"
  [routerLinkActive]="['active']"
  name="projReq.id"
  [ngClass]="{ reed: projReq.reed }"
  class="card"
>
  <div class="first-col">
    <div [ngStyle]="{ backgroundColor: setAvatarColor(projReq.name) }" class="avatar">
      {{ getUserNameAndLetter(projReq.name) }}
    </div>
  </div>
  <div class="second-col">
    <div class="name">{{ projReq.name }}</div>
    <div class="title">
      {{ projReq.email }}
    </div>
    <div class="about">{{ projReq.about }}</div>
  </div>
  <div class="third-col">
    <br />
    <div class="time">{{ projReq.createdAt | date: 'h:mm a' }}</div>
    <div class="date">{{ projReq.createdAt | date: 'dd/mm/yy' }}</div>
  </div>
</div>
