.attachments {
  &__header {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
  }
  &__content {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: flex-start;

    @media only screen and (max-width: 830px) {
      flex-direction: column;
      align-items: center;
    }

    .website {
      font-weight: 300;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.3); // this
        transform: translateY(-3px);
      }

      * {
        &::selection {
          background: transparent;
        }
      }
      &:first-child {
        margin-right: 1.5rem;
        @media only screen and (max-width: 830px) {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }

      &__icon {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        min-height: 2rem;
        min-width: 2rem;
        border-radius: 100%;
        background: linear-gradient(45deg, rgba(#233329, 0.2), rgba(#63d471, 0.2));
        box-shadow: 1px 0 12px 1px rgba(0, 0, 0, 0.3); // this
      }

      &__link {
        display: flex;
        flex-direction: column;
        text-decoration: none;

        > * {
          margin: 0;
        }

        &__title {
          text-transform: capitalize;
          font-size: 0.75rem;
          font-weight: 400;
          letter-spacing: 0.05rem;
        }
        &__url {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 9rem;
        }
      }

      &__title {
        margin: 0;
      }
    }
  }
}
