<button disabled="loading" type="submit" class="submit-button" color="primary" mat-raised-button>
  <!-- Log In -->
  <!-- <div *ngIf="true; else elseBlock">
            <mat-spinner [diameter]="30" [strokeWidth]="2"></mat-spinner>
          </div> -->
test
  <ng-template [ngIf]="true"><p>test</p></ng-template>
  <!-- <ng-container *ngIf="true; else loader"
    ><mat-spinner [diameter]="30" [strokeWidth]="2"></mat-spinner
  ></ng-container>
  <ng-template #loader>Log In</ng-template> -->
  <!-- {{loading ? ) : ('Log In')}} -->
  <!-- <ng-container #elseBlock> Log In </ng-container> -->
</button>

(<mat-spinner [diameter]="30" [strokeWidth]="2"></mat-spinner>