$panel-primary: (
  50: #e0f0e3,
  100: #b3d9b8,
  200: #80c089,
  300: #4da65a,
  400: #269336,
  500: #008013,
  600: #007811,
  700: #006d0e,
  800: #00630b,
  900: #005006,
  A100: #83ff85,
  A200: #50ff53,
  A400: #1dff21,
  A700: #03ff08,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$panel-accent: (
  50: #e1ebec,
  100: #b3ced1,
  200: #80aeb2,
  300: #4d8d93,
  400: #27747b,
  500: #015c64,
  600: #01545c,
  700: #014a52,
  800: #014148,
  900: #003036,
  A100: #6ee9ff,
  A200: #3be1ff,
  A400: #08d9ff,
  A700: #00c9ed,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
