.dashboard {
  background-color: #333;
  min-height: 100vh;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  &__container {
    height: calc(100vh - 63.99px);
    flex: 1;
    display: flex;
    &__content {
      flex: 1;
    }
  }
}
