<app-proj-req-not-found *ngIf="failed"></app-proj-req-not-found>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading && !failed" class="document">
  <app-document-header [documentHeader]="profitProjReq"></app-document-header>
  <div class="document__content">
    <app-section [title]="'about'" [data]="profitProjReq.about"></app-section>
  </div>

  <app-attachments-section [attachments]="attachments"></app-attachments-section>
  <app-indications-section
    [isFunded]="profitProjReq.isFunded"
    [communityOrProfit]="profitProjReq.communityOrProfit"
  ></app-indications-section>
</div>
