<div class="sidebar">
  <button mat-raised-button type="submit" class="compose_button" mat-raised-button>Compose</button>
  <div class="menu">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon [inline]="true">label</mat-icon>Project Request
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a class="menu__item"> <mat-icon [inline]="true">label</mat-icon>Profitable </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-nav-list>
      <mat-list-item>
        <a class="menu__item"> <mat-icon [inline]="true">label</mat-icon>Profiles </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
