.document {
  padding: 1.4rem 3rem;
  font-size: 1rem;
  max-width: 41rem;

  &__header {
    padding-bottom: 1.8rem;
    &__main {
      margin-bottom: 0rem;
    }
    &__sub {
      display: flex;
      font-size: 1rem;
      margin-bottom: 0;
      > * {
        display: inline-flex;
        align-items: center;
      }

      &__email {
        margin-right: 0.8rem;
      }
      &__phone {
        display: inline-flex;
        font-size: 0.8em;
        font-weight: 300;
        letter-spacing: 0.1rem;
        &__icon {
          margin-right: 0.4rem;
        }
      }
    }

    &__date {
      display: flex;
      font-weight: 300;
      font-size: 0.8rem;
      > * {
        display: inline-flex;
        align-items: center;
      }

      &__main {
        margin-right: 2.5rem;
        &__icon {
          margin-right: 0.4rem;
        }
      }
      &__time {
        &__icon {
          margin-right: 0.4rem;
        }
      }

      &__relative-time {
        font-size: 0.9em;
        margin-left: 2.5rem;
      }
    }
    &__website {
      font-weight: 300;
      font-size: 0.8rem;
      display: flex;
      &__icon {
        margin-right: 0.4rem;
      }
      &__url {
        text-decoration: none;
      }
    }
  }

  &__section {
    &__header {
      margin-bottom: 1rem;
      font-size: 0.8rem;
      font-weight: 500;
      letter-spacing: 0.05rem;
    }
    &__content {
      margin-bottom: 2.5rem;
      font-size: 0.88rem;
      font-weight: 400;
      line-height: 1.43;
    }
  }
}
