<app-proj-req-not-found *ngIf="failed"></app-proj-req-not-found>
<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading && !failed" class="document">
  <app-proj-req-header [projectRequest]="chariProjReq"></app-proj-req-header>
  <div class="document__content">
    <app-section [title]="'about'" [data]="chariProjReq.about"></app-section>
    <app-section [title]="'tasks'" [data]="chariProjReq.tasks"></app-section>
    <app-section [title]="'description'" [data]="chariProjReq.description"></app-section>

    <app-attachments-section [attachments]="attachments"></app-attachments-section>
  </div>
</div>
