.container {
  // flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  padding: .5rem;
  &__menu {
    margin-right: -0.3rem;
    flex: 1;
    max-width: 24rem;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 12px;
      width: 3px;
    }
    &::-webkit-scrollbar-track-piece {
      // background: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(253, 253, 253);
      border-radius: 10rem;
    }
  }

  &__show {
    border-left: 0.15rem solid black;
    padding-left: 0.4rem;
    flex: 1;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 12px;
      width: 3px;
    }
    &::-webkit-scrollbar-track-piece {
      // background: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(253, 253, 253);
      border-radius: 10rem;
    }
  }
}
