.header {
  padding-bottom: 1.8rem;
  &__main {
    margin-bottom: 0rem;
  }
  &__sub {
    display: flex;
    font-size: 1rem;
    margin-bottom: 0;
    > * {
      display: inline-flex;
      align-items: center;
    }

    &__email {
      margin-right: 0.8rem;
    }
    &__phone {
      display: inline-flex;
      font-size: 0.8em;
      font-weight: 300;
      letter-spacing: 0.1rem;
      &__icon {
        margin-right: 0.4rem;
      }
    }
  }

  &__date {
    display: flex;
    font-weight: 300;
    font-size: 0.8rem;
    > * {
      display: inline-flex;
      align-items: center;
      margin-right: 0.8rem;
    }

    &__main {
      &__icon {
        margin-right: 0.4rem;
      }
    }
    &__time {
      &__icon {
        margin-right: 0.4rem;
      }
    }

    &__relative-time {
      font-size: 0.9em;
    }
  }

  .menu {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
